#layout
{
-fx-background-color:  lightgray ;
}
#scroller
{
-fx-padding: 0;
    -fx-background-insets: 0;
}
#zoombar {}
#zoombar .track {}
#zoombar .thumb
{
  -fx-background-color:#2a4e97;
    -fx-border-color:black;
    -fx-border-radius:6px;
}

#speedBar .thumb
{
  -fx-background-color:#2a4e97;
    -fx-border-color:black;
    -fx-border-radius:6px;
}
.slidercontainer
{
  -fx-background-color: #b0c4de;
  -fx-border-width:3px ;
  -fx-border-color:#2a4e97;
  -fx-border-radius:5px;
  -fx-background-radius:5px;
     -fx-background-insets: 1px;
}
.gamebuttons
{
  -fx-background-color:#2a4e97;
  -fx-width:300px;
  -fx-text-fill:white;
   -fx-border-width: 2px ;
   -fx-border-radius: 20px;
   -fx-font-size:25px;
   -fx-border-color:white ;
   -fx-background-radius:20px;
     -fx-background-insets: 1px;
}
.gamebuttons:hover
{
  -fx-background-color:blue;
}
#bottombox
{
   -fx-padding-top:20px
}